name: publish

on:
  push:
    tags:
      - 'v*.*.*'

jobs:
  publish:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    steps:
      - uses: actions/checkout@v2.3.4

      - uses: actions/setup-node@v2.2.0
        with:
          node-version: 14.x
          registry-url: 'https://registry.npmjs.org'
          scope: '@stoe'

      # Publish to npm
      - run: npm publish --access public
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}

      - uses: actions/setup-node@v2.2.0
        with:
          node-version: 14.x
          registry-url: 'https://npm.pkg.github.com'
          scope: '@stoe'

      # Publish to GitHub Packages
      - run: npm publish --access public
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
